@font-face {
    font-family: fixedsys;
    src: url("fixedsys.tff.ttf");
}
body{
    font-family: Helvetica, sans-serif, Arial;
    color: white;
    background-image: url(Eubackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: right;
}
.background{
    background: white;
}
main{
    min-width: 375px;
    margin: auto;
    box-shadow: 0px 10px 100px 100px rgba(0, 0, 0, 0.623);
    text-align: left;
    background-color: white;
}
header{
    width: 50%;
    min-width: 500px;
    margin: auto;
    position: fixed;
}
.section-about{
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 5% 5% 5%;
    box-sizing: border-box;
    
}
.section-about h1{
    margin-top: 50px;
    font-size: 1em;
    color: #00ACCC;
}
.section-about h2{
    margin-top: 10px;
    font-size: 1.5em;
}
.section-about p{
    display: block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
    color: dimgrey;
    text-align: center;
}
.section-about p img{
    display: block;
    width: 80px;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto 20px;
}
.section-about p:nth-child(5){
    text-align: center;
    margin-bottom: 20px;
}
.about-me{
    text-align: left;
}
.section-about h3{
    font-size: 2em;
}
.block{
    margin-bottom: 4em;
}
.description{
    text-align: left;
}
.description .description-option h4{
    display: inline-block;
    font-size: 20px;
    color: rgb(82, 0, 0);
    margin-bottom: 0;
    border-left: 5px solid rgba(128, 128, 128, 0.432);
    padding-left: 10px;
}
.description .description-option p{
    color: rgb(90, 90, 90);
    margin: 10px 0 20px 0px;
    text-align: left;
    font-size: 1em;
}

.perfil-description{
    padding-bottom: 1em;    
}
.hability-list{
    text-align: left;
    max-width: 600px;
    margin: 0 auto 10% auto;
}
.hability-list li{
    margin-top: 35px;
}
.level-bar{
    width: 90%;
    height: 7px;
    margin-top: 10px;
    background-color: rgb(184, 184, 184);
    position: relative;
    border-radius: 2px;
}
.level-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 7px;
    background-color: rgb(104, 0, 0);
    border-radius: 2px;
}
.level-bar span::after{
    content: "";
    position: absolute;
    top: -30px;
    right: -15px;
    border: 1px solid rgba(0, 0, 0, 0.541);
    background-color: rgba(191, 251, 253, 0.459);
    font-size: 80%;
    padding: 5px;    
}
/*para alterar o nivel das barras de habilidade*/
.level-bar .span-html::after{
    content: "90%";
}
.level-bar .span-css::after{
    content: "50%";
}
.level-bar .span-js::after{
    content: "40%";
}
/*botão de contato*/
.button{
    display: block;
    width: 80%;
    border: 3px solid rgb(104, 0, 0);
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.5em;
    transition: all .2s ease;
    clear: both;
}
.button-null{
    color: rgb(73, 0, 0);
}
.button-null:hover{
    border-color: rgb(136, 24, 24);
    color: rgb(173, 0, 0);
}
.button-stroke{
    background-color: rgb(54, 0, 0);
    color: whitesmoke;
}
.button-stroke:hover{
    background-color: rgb(129, 0, 0);
    color: whitesmoke;
}
.main-section{
    text-align: center;
    height: 100vh;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.7483368347338936) 0%, rgba(2,0,36,1) 50%, rgba(2,0,36,0.7035189075630253) 100%);
    padding-top: 40vh;
    box-sizing: border-box;
}
.main-section p{    
    font-size: 20px;
    color: rgb(0, 158, 21);
    text-shadow: 3px 3px 3px black;
}
.main-section h1{
    margin-top: 20px;
    font-size: 50px;
    text-shadow: 3px 3px 3px black;
}
.main-section h2{
    margin-top: 20px;
    text-shadow: 3px 3px 3px black;
}
.read-more-button{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-left: -110px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 1em;
    text-shadow: 2px 2px 2px black;
    border: 2px solid rgba(173, 173, 173, 0.644);
    text-decoration: none;
    transition: .5s;
}
.read-more-button:hover{
    border-color: #00ACCC;
    backdrop-filter: blur(20px) saturate(159%);
    -webkit-backdrop-filter: blur(20px) saturate(159%);
    background-color: rgba(17, 25, 40, 0.7);
}
.links{    
    position: absolute;
    left: 50%;
    bottom: 10%;
    margin-left: -50px;
}
.links .icon{
    display: inline-block;
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition:all .3s ease;
    margin-left: .5em;
}
.links .icon:hover{
    color: rgb(0, 255, 191);
}

/*Design do menu toogle*/
.row{
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
}
.top-bar{
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0);
    position: absolute;
    left: 10%;
}
.menu-toggle{
    width: 40px;
    height: 50px;
    float: left;
}
.menu-toggle:hover span, .menu-toggle:hover span::before, .menu-toggle:hover span::after {
    background-color: rgb(141, 0, 0);
}

.menu-toggle span{
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: #00ACCC;
    display: block;
    position: absolute;
    top: 25px;
    left: 20px;
    transition: all .4s ease-in-out;
}
.menu-toggle span::before{
    content: "";
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background-color: #00ACCC;
    display: block;
    position: absolute;
    top: -6px;
    transition: all .6s ease-in-out;
}
.menu-toggle span::after{
    content: "";
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background-color: #00ACCC;
    display: block;
    position: absolute;
    top: 6px;
    transition: all .2s ease-in-out;
}
.logo{
    float: left;
    margin: 20px 0 0 20px;
    position: relative;
}
.logo:hover a{
    letter-spacing: 1px;
}
.logo a{
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif, Arial;
    letter-spacing: 0px;
    transition:all .8s ease;    
}
.smoothscroll{
    display: block;
    text-decoration: none;
    padding: 30px 0 0 30px;
    color: white;
    font-family: Helvetica, sans-serif, Arial;
    transition: all .6s ease;
}
.main-navigation{
    overflow: hidden;
    height: 0;
    transition: all .6s ease;
    position: absolute;
    top: 60px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.smoothscroll:hover{
    color: rgb(255, 0, 0);
    margin-left: 10px;
}
.top-bar:hover .main-nav-wrap .main-navigation{
    height: 300px;
    background-color: rgb(0, 0, 0);
}
.section-resume{
    background-color: rgb(207, 207, 207);
}

/*como deve ficar em tela grande*/

@media screen and (min-width: 90em) { 
    .main-section p{    
        font-size: 30px;
        color: rgb(0, 158, 21);
        text-shadow: 3px 3px 3px black;
    }
    .main-section h1{
        margin-top: 20px;
        font-size: 75px;
        text-shadow: 3px 3px 3px black;
    }
    .main-section h2{
        margin-top: 20px;
        text-shadow: 3px 3px 3px black;
    }
    main{
        width: 90em;
    }
    .section-about h1{
        margin-top: 100px;
        font-size: 1.5em;
        color: #00ACCC;
    }
    .section-about h2{
        margin-top: 10px;
        font-size: 2em;
    }
    .section-about p{
        display: block;
        margin-top: 20px;
        font-size: 20px;
        line-height: 1.5em;
        color: dimgrey;
        text-align: left;
    }
    .section-about p img{
        display: block;
        width: 150px;
        border-radius: 10px 10px 10px 10px;
        float: left;
        margin:0 30px 30px 100px;
        border: 2px solid rgba(71, 0, 0, 0.699);
    }
    .top-bar{
        left: 30%;
    }
    .description-block{
        width: 47%;
        float: left;
        margin-bottom: 3em;
    }
    .description-block h1{
        margin-top: 0;
    }
    .hability-block{
        width: 47%;
        height: 500px;
        float: right;
        box-sizing: border-box;
    }
    .hability-block h1{
        margin-top: 0;
    }
    .description-hability p{
        font-size: 1em;
        padding-right: 1em;
    }
    .description-hability{
        display: block;
        width: 100%;
        height: 500px;
        padding: 20px;
        margin: 2em 0 2em 0;
        box-sizing: border-box;
    }
    .description{
        margin-top: 1em;
    }
    .hability-list{
        margin-top: 5em;
    }
    .block{
        height: 15em;
    }
    .button{
        max-width: 300px;
    }
    .section-resume{
        padding-top: 4em;
        text-align: center;
    }
    .button-lane{
        margin: auto;
    }
    .button{
        display: inline-block;        
    }
}    